.profile__column_content_info {
    display: flex;
}

@media screen and (max-width: 729px) {
    .profile__column_content_info {
        display: grid;
        max-width: 282px;
        width: 100%;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-areas:
        "image image"
        "title button"
        "title button"
    }
}