.elements__like-image_state_inactive {
    margin: 6px 2px 0 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.elements__like-image_state_inactive:hover {
    opacity: 0.5;
}